body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  width: 100%;
  height: auto;
  background-color: rgb(227, 212, 194);
}
.header{
  max-width: 1780px;
  height: auto;
  background-color: rgb(89, 255, 0);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content:space-between
}
.header ul li{
  display: inline-block;
  padding: 20px;
  margin-left: 20px;
  tran
}
.header ul li a{
  text-decoration: none;
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 800;
 transition: all 0.5s;
}
.header ul li:hover {
  color: rgb(41, 34, 34);
  background-color: rgb(195, 173, 173);
}
.menu li input{
  padding: 10px;
  outline: none;
  border-radius: 10px;
  padding-left: 30px;
  font-size: 20px;
}
.menu ul li  button{
  font-size: 20px;
  background-color: rgb(107, 107, 235);
  color: white;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

/* Logo */

.logo{
  margin-left: 10px;
  font-size: 50px;
  cursor: pointer;
}